[Unit]
Description=Gunicorn server for Hey Cheryl application
After=network.target

[Service]
#User=root
#Group=root
WorkingDirectory=__APP_DIR__
EnvironmentFile=__APP_DIR__/.env
ExecStart=/bin/bash -c 'source __APP_DIR__/.venv/bin/activate && exec __APP_DIR__/.venv/bin/gunicorn --worker-class eventlet --workers 1 --bind 0.0.0.0:5000 --timeout 120 src.app:app'
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
